{% extends 'landing/base.html' %}

{% block content %}

<!--<div class="container">-->
<!--    <div class="row mt-5">-->
<!--        <div class="col-md-3 col-sm-6">-->
<!--            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row justify-content-center mt-5">-->
<!--        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">-->
<!--            <img src="{{ profile.picture.url }}" alt="" class="rounded-circle" width="100" height="100">-->
<!--            {% if profile.name %}-->
<!--            <h3 class="py-4">{{ profile.name }}-->
<!--                <span>-->
<!--                    {% if request.user == user %}-->
<!--                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333;">-->
<!--                            <i class="far fa-edit"></i>-->
<!--                        </a>-->
<!--                    {% endif %}-->
<!--                </span>-->
<!--                {% else %}-->
<!--                <h3 class="py-4">{{ user.username }}-->
<!--                    <span>-->
<!--                        {% if request.user == user %}-->
<!--                            <a href="{% url 'profile-edit' profile.pk %}" style="color: #333;">-->
<!--                                <i class="far fa-edit"></i>-->
<!--                            </a>-->
<!--                        {% endif %}-->
<!--                    </span>-->
<!--                </h3>-->
<!--                {% endif %}-->
<!--            </h3>-->

<!--            {% if profile.bio %}-->
<!--                <p>{{ profile.bio }}</p>-->
<!--            {% endif %}-->

<!--            {% if profile.location %}-->
<!--                <p>{{ profile.location }}</p>-->
<!--            {% endif %}-->

<!--            {% if profile.birth_date %}-->
<!--                <p>{{ profile.birth_date }}</p>-->
<!--            {% endif %}-->

<!--            <div class="mb-3">-->
<!--                <p>Followers: {{ count_followers }}</p>-->
<!--                {% if user == request.user %}-->
<!--                {% else %}-->
<!--                {% if is_following %}-->
<!--                <form method="post" action="{% url 'remove-following'  profile.pk %}">-->
<!--                    {% csrf_token %}-->
<!--                    <button class="btn btn-outline-danger" type="submit">Unfollow</button>-->
<!--                </form>-->
<!--                {% else %}-->
<!--                <form method="post" action="{% url 'add-follower' profile.pk %}">-->
<!--                    {% csrf_token %}-->
<!--                    <button class="btn btn-outline-success" type="submit">Follow</button>-->
<!--                </form>-->
<!--                {% endif %}-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">

                    <div class="profile mr-3">
                        <img src="{{ profile.picture.url }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <h4 class="mt-0 mb-0">{{ profile.name }}</h4>
                        <p style="position: absolute; right:0; color: #fff;">Был в сети: {{ user.last_login|date:"F d в f" }}</p>
                    </div>

                    <div class="media-body mb-5 text-white">
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        {% endif %}
                        <div class="mb-3">

                            {% if request.user != user %}
                                <p>Followers: {{ count_followers }}</p>
                            {% endif %}

                            {% if user == request.user %}
                            {% else %}
                                {% if is_following %}
                                <form method="post" action="{% url 'remove-following'  profile.pk %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                                </form>
                                {% else %}
                                <form method="post" action="{% url 'add-follower' profile.pk %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-success" type="submit">Follow</button>
                                </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ count_followers }}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i> Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">247</h5><small class="text-muted"> <i class="fa fa-thumbs-up"></i> Likes</small>
                    </li>
                </ul>
            </div>

            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    {% if profile.bio %}
                        <p class="font-italic mb-3">{{ profile.bio }}</p>
                    {% endif %}
                    {% if profile.location %}
                        <p class="font-italic mb-3">{{ profile.location }}</p>
                    {% endif %}
                    <p class="font-italic mb-0">{{ user.date_joined|date:"F d, Y" }} year</p>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 pl-lg-1"><img src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <h1 style="text-align: center;">All User Posts</h1>
    <hr>
    {% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="card mb-3">
                <div class="test_gg" style="margin: 5px 5px; padding: 10px 10px 0px;">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.picture.url }}" alt="" width="50" height="50">
                    <strong>{{ post.author }}</strong> | <small>{{ post.created_at|date:"F d, Y" }}</small>
                </div>
                <h4>{{ post.title }}</h4>
                {% if post.photo %}
                    <img class="card-img-top height" src="{{ post.photo.url }}">
                {% endif %}

                <div class="card-body">
                    <p class="mt-3">{{ post.body }}</p>
                    <hr style="margin: 0px;">
                    <img src="http://localhost:8000/static/images/mini-like.png"/>
                    <img src="http://localhost:8000/static/images/mini-hand.png" alt="">
                    <img src="http://localhost:8000/static/images/mini-hearth.png" alt="">
                    <img src="http://localhost:8000/static/images/mini-think.png" alt="">
                    <img src="http://localhost:8000/static/images/mini-finger.png" alt="">
                </div>
                <div class="card-footer">

                    <form action="{% url 'like' slug=post.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit">
                            <i class="fa fa-thumbs-up" aria-hidden="true" style="color: rgb(16, 71, 16);"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form action="{% url 'dislike' slug=post.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit">
                            <i class="fa fa-thumbs-down" aria-hidden="true" style="color: #8a271e;"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>

                    </form>

                    <div class="card__comments">
                        <a href="{{ post.get_absolute_url }}" style="text-decoration:none;"><i class="fa fa-comments" aria-hidden="true"></i>Comment ({{ post.comments.all.count }})</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}
